<div class="container-fluid-centre">
	<div class="row" style="overflow:scroll; height:750px;">
		<div class="col-2">
			<div class="container-fluid">
				<div class="bg-success p-2 text-white bg-opacity-75">
			    	<h1><%= link_to "MyM", root_path, class:"nav-link" %></h1>
			</div>
			    <br>
			    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 30px;">
			        <li class="nav nav-pills flex-column">
			          <%= link_to "HOME", root_path, class:"nav-link" %>
			        </li>
			        <li class="nav nav-pills flex-column">
			          <%= link_to "Add Mosque", new_article_path, class:"nav-link" %>
			        </li>
			        <li class="nav nav-pills flex-column">
			          <%= link_to "ABOUT", articles_about_path, class:"nav-link" %>
			        </li>
			    </ul>
			</div>
		</div>
<!-- All mosque		 -->
		<div class="col-3" style="text-align: center; background-color: ;">
			<div class="bg-success p-2 text-white bg-opacity-75">
				<h1><%= "All Mosque" %></h1>
			</div>
			<div class="container-fluid">
				<% @articles.each do |article| %>
   				   <div class="row">
	   				    <h5><%= link_to article.mosque_name, article, class:"nav-link" %></h5>
   				   </div>
   				   <div class="row">
    					<%= link_to article.address, article, class:"nav-link" %>
   				   </div>
				<% end %>				
			</div>
		</div>
<!-- Mosque data -->
		<div class="col" style="text-align: center; background-color: ;">
			<div class="bg-success p-2 text-white bg-opacity-75">
				<h1><%= "Mosque without Imam" %></h1>
			</div>
			<div class="container-fluid">
				<% @articles.each do |article| %>
					<% if article.imam_name == "" %>
	   				   <div class="row">
		   				    <h5><%= link_to article.mosque_name, article, class:"nav-link" %></h5>
	   				   </div>
	   				   <div class="row">
	    					<%= link_to article.address, article, class:"nav-link" %>
	   				   </div>
	   				<% end %>
				<% end %>				
			</div>
		</div>

 <!-- other details -->
		<div class="col" style="text-align: center; background-color: ;">
			<div class="bg-success p-2 text-white bg-opacity-75">
				<h1><%= "Other Details" %></h1>
			</div>
		</div>
		
	</div>
</div>