<h3 style="text-align: center;">Add a mosque</h3>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.text_field :mosque_name, placeholder:"Mosque name" %>
  </div>

  <div>
    <%= form.text_field :address , placeholder:"Address of mosque" %>
  </div>
  <div>
    <%= form.text_field :mobile_no , placeholder:"Contact number" %>
  </div>
  <div>
    <%= form.text_field :mutawalli_name , placeholder:"Name of Mutawalli/Zimmedar" %>
  </div>
  <div>
    <%= form.text_field :imam_name , value:"", type:"hidden" %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>