<div class="bg-success p-2 text-white bg-opacity-75">
	<h1 style="text-align: center;">
		<%= link_to @article.mosque_name, @article, class:"nav-link" %>
	</h1>
		<br>
	<h3 style="text-align: center;">
		<%= link_to @article.address, @article, class:"nav-link" %>
	</h3>
</div>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h5 style="text-align: right;">
				Mutawalli name :- 
			</h5>
			
		</div>
		<div class="col">
			<h5 style="text-align: left;">
				<%= @article.mutawalli_name %>
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5 style="text-align: right;">
				Mobile number :-
			</h5>
		</div>
		<div class="col">
			<h5 style="text-align: left;">
				<%= phone_to @article.mobile_no, class:"nav-link" %>
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5 style="text-align: right;">
				Imam name :-
			</h5>
		</div>
		<div class="col">
			<h5 style="text-align: left;">
				<%= @article.imam_name %>
			</h5>
		</div>
	</div>
</div>
<% if user_signed_in? %>
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li  style="text-align: center;">
			<%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary" %>
			<%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-primary" %>
			<%= link_to 'Back', :back, class:"btn btn-primary" %>	
		</li>
	</ul>
<% end %>

